*.pdf
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.log
*.aux
*.out
*.toc
*.lof
*.bbl
*.blg
*.acn
*.glo
*.ist
*.glsdefs
*.lot
*.acr
*.alg
*.glg
*.gls
*.nav
*.pyg
*.snm
*.vrb
*.xdv
*.run.xml
*.bcf
template/
_minted-*/
